ul li{
    display: inline-block;
    padding: 0px;
    margin-top: 2cm;
    margin-right: 1.5cm;
    margin-bottom: 1.5cm;
    margin-left: 1cm;
    a{
        text-decoration:none;
        color: #d5e5e0;
        font-family: 'Oswald', sans-serif;
        border-bottom: 1px solid #d5e5e0;
    }
}